# Object files
*.o
*.ko

# Libraries
*.lib
*.a
# Editing
*.swp
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
modbusd
echoserv
client
httpd
httpd_1
# Packages
*.deb

*~

forked-server
httpd_2
Test
local
remote
.gdb_history
profile.mk
