# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
modbusd
echoserv
client
httpd
httpd_1
# Packages
*.deb

*~
nothing added to commit but untracked files present (use "git add" to track)
